---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.svelte';
import {Link} from '../components/Link.tsx';
import {getCollection} from 'astro:content';
const movies = await getCollection('movies');
---

<Layout>
  <Heading>Filmy</Heading>
  <ul>
      {movies.map(movie => (
          <li><Link href={`/${movie.id}`}>{movie.data.name}</Link></li>
      ))}
  </ul>
</Layout>
